body {
  background-color: rgb(122, 122, 122);
  color: #ccc;
}

input {
  box-sizing: border-box;
  width: 400px;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 8px;
}

#buttons {
  margin: auto;
  width: 400px;
  text-align: left;
}

span {
  padding: 10px;
}

span:nth-child(2) {
  border-right: 1px solid #ffffff66;
}

button {
  padding: 10px;
  outline: none;
  border: none;
  margin: 0;
}

button:hover {
  background-color: #fff;
}

.app {
  text-align: center;
}

#photos {
  text-align: center;
}

#photos a {
  position: relative;
  display: block;
  width: 420px;
  margin: 20px auto;
}

#photos a .info {
  box-sizing: border-box;
  background-color: #00000088;
  padding: 5px;
  color: white;
  width: 300px;
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  text-align: left;
  opacity: 0;
  transition: opacity 200ms;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

#photos a:hover .info {
  opacity: 1;
}

#photos img {
  background-color: #ffffff00;
  padding: 0px;
  box-shadow: 6px 6px 14px 0px #000000aa;
  transition: padding 200ms, background-color 200ms;
}

#photos img:hover {
  background-color: white;
  padding: 10px;
}